worker_processes  1;

error_log  logs/error.log;
error_log  logs/error.log  debug;
error_log  logs/error.log  notice;
error_log  logs/error.log  info;

events {
    worker_connections 1024;
}

http {

    resolver 127.0.0.11 ipv6=off;

    include mime.types;

    # set search paths for pure Lua external libraries (';;' is the default path):
    # add paths for wiola and msgpack libs
    lua_package_path '/usr/local/openresty/luajit/share/lua/5.1/wiola/?.lua;/usr/local/openresty/luajit/share/lua/5.1/lua-MeessagePack/?.lua;;';

    init_by_lua_block {

    -- Wiola configuration. You can read more in description of .configure() method below.
        local cfg = require "wiola.config"

        cfg.config({
            redis = {
                host = "redis",
                port = 6379
            }
        })

        local wflush = require "wiola.flushdb"
        wflush.flushAll()
    }

    server {

        listen       80;
        server_name  localhost;

        access_log  logs/access.log;

        root /usr/local/openresty/luajit/share/lua/5.1/wiola;

        location / {
            set $wiola_socket_timeout 100;     # Optional parameter. Set the value to suit your needs
            set $wiola_max_payload_len __WIOLA_MAX_PAYLOAD_LEN__; # Optional parameter. Set the value to suit your needs


            lua_socket_log_errors off;
            lua_check_client_abort on;

            header_filter_by_lua_file $document_root/headers.lua;
            content_by_lua_file $document_root/handler.lua;
        }
    }
}